:root{
    --cor1: #bec5ad;
    --cor2: #a4b494;
    --cor3: #519872;
    --cor4: #3b5249;
    --cor5: #34252f;
}

*{
    font-family: 'Titillium Web', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    background-color: var(--cor3);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 52px;
    font-weight: 900;
    color: var(--cor5);
}

td {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: -2px;
    box-sizing: border-box;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tabuleiro{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 800px;
    background-color: var(--cor2);
    border: 2px solid var(--cor4);
    box-shadow: 5px 5px 5px black;
}

.nomeJogador{
    font-size: 22px;
}

.playersInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    font-size: 28px;
    font-weight: bold;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    user-select: none
}

#menu{
    height: 150px;
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--cor2);
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--cor4);
    box-shadow: 5px 5px 8px black;
}

#menu>button{
    width: 220px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: var(--cor1);
    border: 2px solid var(--cor4);
    color: var(--cor5);
    font-weight: 700;
}

#gameMsg{
    height: 30px;
    display: flex;
    justify-content: center;
}

#gameMsg>span{
    color: var(--cor5);
    font-size: 24px;
    font-weight: 700;
}

.bg-preto {
    /* background-color: rgb(83, 83, 83); */
    background-color: var(--cor5);
}

.casa-selecionada{
    outline: 2px solid blue;
}

.casa-movimentavel{
    outline: 2px solid green;
}