td {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: -2px;
    box-sizing: border-box;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tabuleiro{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: flex-start;
    justify-content: space-evenly;
}

.nomeJogador{
    font-size: 22px;
}

.playersInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer{
    font-size: 28px;
    font-weight: bold;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    user-select: none
}

#gameMsg{
    height: 30px;
    display: flex;
    justify-content: center;
}

#gameMsg>span{
    color: red;
    font-size: 24px;;
}

.bg-preto {
    background-color: rgb(83, 83, 83);
}

.casa-selecionada{
    outline: 2px solid blue;
}

.casa-movimentavel{
    outline: 2px solid green;
}